@font-face {
    /* Define fuente a utilizar*/
    font-family: "Rubik";
    src: url(Rubik/static/Rubik-Regular.ttf);
}

body{
    /*Color del fondo y fuente*/
    background-color: lightgreen;
    background: -webkit-linear-gradient(lightgreen, rgb(122, 241, 206));
    background: -moz-linear-gradient(lightgreen, rgb(122, 241, 206));
    background: -o-linear-gradient(lightgreen, rgb(122, 241, 206));
    background: linear-gradient(lightgreen, rgb(122, 241, 206));
    font-family: "Rubik";
}

.principal{
    /*Define tamaño y margenes*/
    width: 1040px;
    margin: auto;
    transition: 1s all;
}

.encabezado .container{
    display: flex;
    flex-direction: column;
}

.encabezado .container .logo{
    margin: 10px;
}

.encabezado .container .titulo{
    text-align: center;
    font-size: 60px;
    margin: 5px;
    color: #0A3871;
}

.cuadrosTexto .cajaMensaje{
    /*Tamaños y posicion cajas de texto*/
    display: flex;
    justify-content: space-around;
}

.cuadrosTexto .cajaMensaje .container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.cuadrosTexto .cajaMensaje .mensaje,.cuadrosTexto .cajaMensaje .lectura{
    width: 100%;
    height: 400px;
    margin: 10px;
    padding: 12px;
    font-size: 16pt;
    color: black;
    border-radius: 32px;
    background-color: #FFFFFF;
    border: none;
    resize: none;
    font-family: "Rubik";
    font-size: 16pt;
    color: black;
}

.mensaje:focus,.lectura:focus{
    outline: none;
}

.cuadrosTexto .cajaMensaje .lectura{
    /*Fondo caja de texto de mensaje encriptado/desencriptado*/
    background-image: url("Muñeco.png");
    background-position: center;
    background-repeat: no-repeat;
}

.aviso{
    margin-left: 80px;
    font-size: 18px;
    color: #0A3871;
}

#signoExclamacion {
    margin-right: 5px;
}

.botones .cajaBotones{
    display: flex;
    justify-content: space-between;
}

.botones .cajaBotones .container{
    display: flex;
    width: 100%;
    margin-top: 1em;
}


.botones .cajaBotones .encriptarDesencriptar{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.botones .cajaBotones .btnCopiar{
    display: flex;
    justify-content: center;
    width: 50%;
}

.encriptar, .desencriptar,.copiar{
    width: 150px;
    height: 40px;
    border-radius: 24px;
    font-size: 16px;
    font-family: "Rubik";
    cursor: pointer;
    transition: 1s all;
}

.desencriptar, .copiar{
    background-color: lightblue;
    color: #0a3871;
    border: 1px solid #0A3871;
}

.encriptar{
    background-color: #0a3871;
    color: #FFFFFF;
    border: none;
}

.encriptar:hover,.desencriptar:hover,.copiar:hover{
    transform: scale(1.1);
}

.piePagina .container{
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center
}

.piePagina .container p{
    display: flex;
    justify-content: center;
}

.redireccion {
    text-decoration: none;
    color: #0A3871;
}

.redireccion:hover {
    text-decoration: underline;
}

/*RESPONSIVE DESIGN*/

@media (max-width:768px){

    .principal{
        /*Define tamaño y margenes*/
        width: auto;
        margin: auto;
    }

    .encabezado .container .logo{
        margin: 10px;
    }
    
    .encabezado .container .titulo{
        text-align: center;
        font-size: 40px;
    }

    .cuadrosTexto .cajaMensaje .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cuadrosTexto .cajaMensaje .mensaje,.cuadrosTexto .cajaMensaje .lectura{
        width: 70%;
        height: 300px;
    }

    .cuadrosTexto .cajaMensaje .lectura{
        background-size: contain;
    }

    .botones .cajaBotones .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botones .cajaBotones .encriptarDesencriptar, .botones .cajaBotones .botonCopiar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptar, .desencriptar,.copiar{
        margin: 10px;
    }

    .piePagina .container .mensajeRedireccion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}